.dashboard {
  display: flex;
  height: 100vh;
}

.custom-button {
  background-color: #b23a48 !important;
  color: white;
  border: none !important;
}

.custom-button:hover {
  background-color: #fff !important;
  color: #b23a48 !important;
  border: none !important;
}

.primary-button {
  background-color: blue !important;
  color: white;
  border: none !important;
  margin-right: 2.5px;
}

.primary-button:hover {
  background-color: #fff !important;
  color: blue !important;
  border: none !important;
}

.danger-button {
  background-color: red !important;
  color: white;
  border: none !important;
  margin-right: 2.5px;
}

.danger-button:hover {
  background-color: #fff !important;
  color: red !important;
  border: none !important;
}

/* In your CSS file or styles section */
.custom-modal {
  width: 800px !important;
  /* Adjust the width as needed */
  /* margin: 0 auto; */
}

.model-content {
  width: 800px !important;
  /* Adjust the width as needed */
}

.success-button {
  background-color: green !important;
  color: white;
  border: none !important;
}

.success-button:hover {
  background-color: #fff !important;
  color: green !important;
  border: none !important;
}

/* Sidebar Styles */
#sidebar {
  margin-top: 10px;
  margin-left: 10px;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  border-radius: 25px;
}

#sidebar:hover {
  width: 300px;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

#sidebar li:hover {
  background-color: #fff;
  color: #b23a48;
}

/* Main Content Styles */
.main-content {
  flex: 1;
  padding: 20px;
}

.main-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.main-content p {
  font-size: 16px;
}
